.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}

.cardWrapper {
  display: block;
  margin: 0;
}

.cardHeader {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: rgb(232, 232, 232);
  width: 100%;
  padding: 1em;
  margin: 0;
}

.cardMedia {
  display: block;
  width: 100%;
}

.cardTitle {
  font-weight: bold;
  font-size: xx-large;
  color: black;
}

.cardTitleDeployLink {
  fill: white;
}

.cardTitleCodeLink {
  padding: 0;
  fill: rgb(62, 0, 84);
}

.cardTitleDeployLink:hover {
  fill: rgb(187, 0, 255);
}

.cardTitleCodeLink:hover {
  fill: rgb(187, 0, 255);
}

.cardBody {
  background-color: rgb(249, 249, 249);
  color: rgb(64, 64, 64);
  font-size: smaller;
  padding: 1em;
}

.cardFoot {
  display: flex;
  font-size: small;
  font-weight: normal;
  color: rgb(33, 33, 33);
  background-color: rgb(232, 232, 232);
}

.footRow {
  padding: .5em;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}

li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}