.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}

.cardWrapper {
  display: inline;
}

.cardHeader {
  padding-left: 1em;
  padding-top: 1em;
  display: flex;
  /* background-color: rgb(41, 0, 69); */
  background-color: rgb(232, 232, 232);
  font-size: smaller;
  min-width: 100%;
  justify-content: space-between;
}

.cardTitle {
  font-weight: bold;
  font-size: xx-large;
  color: black;
  line-height: .75em;
}

.cardTitleDeployLink {
  fill: white;
}

.cardTitleCodeLink {
  fill: rgb(62, 0, 84);
}

.cardTitleDeployLink:hover {
  fill: rgb(187, 0, 255);
}

.cardTitleCodeLink:hover {
  fill: rgb(187, 0, 255);
}

.cardBody {
  background-color: rgb(249, 249, 249);
  color: rgb(64, 64, 64);
  font-size: smaller;
  padding: 1em;
}

.cardFoot {
  display: flex;
  font-size: small;
  font-weight: normal;
  color: rgb(33, 33, 33);
  width: inherit;
  background-color: rgb(232, 232, 232);
  display: block;
}

.iconWrapper {
  padding-left: 5px;
}

.footRow {
  padding: .5em;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}

li, ul {
  list-style-type: none;
}