.cardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.75rem;
  margin: 1rem;
}

.cardWrapper {
  display: block;
  margin: 0;
}

.cardHeader {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(215, 215, 215);
  width: 100%;
  padding: 1em;
  margin: 0;
  border-top-right-radius: 60pt;
}

.cardMedia {
  display: block;
  width: 100%;
}

.cardTitle {
  font-weight: bold;
  font-size: xx-large;
  font-variant-caps: all-petite-caps;
  color: black;
  margin-bottom: 5px;
}

.cardBody {
  border-top: 8px rgb(115, 0, 115) solid;
  background-color: rgb(249, 249, 249);
  color: rgb(64, 64, 64);
  font-size: smaller;
  padding: 1em;
}

.cardFoot {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: medium;
  font-weight: normal;
  background-color: rgb(232, 232, 232);
  padding: .5rem;
  justify-content: space-around;
  border-bottom-left-radius: 60pt;
}

.gridHeading {
  display: flex;
  font-size: 4em;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}

li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0em;
}

.footerLinks {
  font-variant-caps: all-small-caps;
  display: inline-flex;
  color: #979797;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}

/* Status component classes */
.deployed {
  background-color: rgb(2, 225, 139);
  color: white;
  font-family: Roboto;
  font-size: small;
  font-variant-caps: all-small-caps;
  font-weight: bolder;
  border-radius: 10pt;
  padding: 0em .55em;
}

.inProgress {
  background-color: rgb(115, 0, 115);
  color: white;
  font-family: Roboto;
  font-size: small;
  font-variant-caps: all-small-caps;
  font-weight: bolder;
  border-radius: 10pt;
  padding: 0em .55em;
}