.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 1em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
<<<<<<< HEAD
  margin-bottom: .5em;
=======
  margin: 1rem;
  display: 'inherit';
  width: 18rem;
>>>>>>> 741744920c23317eb869b8ee01780a2dd1076e58
}

.card-header {
  border-left: 10px black;
  background-color: black;
  font-size: smaller;
  padding: 8px;
  min-width: 100%;
}

.card-title {
  font-weight: bold;
  font-size: larger;
  color: white;
}

.card-body {
  animation-name: borderPhaser;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-top: 2px solid rebeccapurple;
  background-color: lightslategray;
  color: white;
  font-size: smaller;
<<<<<<< HEAD
  padding: 8px;
}

.card-img {
  width: 175px;
  height: 100px;
}

@keyframes borderPhaser {
  from {
    border-top-color: aqua;
  }

  to {
    border-top-color: rebeccapurple;
  }
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  animation-duration: 1s;
=======
  padding: 10px;
}

.card-container {
  display: flex-wrap;

>>>>>>> 741744920c23317eb869b8ee01780a2dd1076e58
}