.blog-title {
    background-color: black;
    padding: .5rem;
    color: whitesmoke;
    margin: 0 auto;
    font-size: large;
    font-weight: bold;
}

.entry-body {
    background-color: lightslategray;
    color: white;
    padding: .5rem;
    margin: 0 auto;
}

.blog {
    margin-bottom: 1rem;
}