.factCard {
  font-size: smaller;
  background-color: rgb(52, 104, 156);
  color: white;
  padding: .5rem 1.25rem .10rem;
  margin-top: 1rem;
  margin: 1rem 0rem 0rem 0rem;
  border-top: solid 5px rgb(35, 35, 96);
}

.factBodyHeader {
  font-weight: bold;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
}