.nav-links {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: fillIn;
  text-decoration: none;
  color: white;
}

@keyframes fillIn {
  from {
    color: aqua;
  }

  to {
    color: rebeccapurple;
  }
}

.nav-links:hover {
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-name: slider;
}

@keyframes slider {
  from {
    border-bottom-width: 0px;
  }

  to {
    border-bottom-width: 3px;
  }
}